<div id="content-lpg">
    <p class="paragraph-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur aut laudantium debitis. Veniam eum a quas magni accusamus natus placeat ipsa vero numquam, voluptatem excepturi ipsum reprehenderit! Porro, voluptates?
    </p>
    <ul class="list-lpg paragraph-text">
        <li>
        </li>
    </ul>
    <p class="paragraph-text pt-3"></p>
    <ul class="list-lpg paragraph-text">
        <li>
        </li>   
    </ul>
    <p class="paragraph-text pt-3">

    </p>
    <ul class="list-lpg paragraph-text">
        <li>

        </li>
    </ul>
    <p class="paragraph-text pt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur aut laudantium debitis. Veniam eum a quas magni accusamus natus placeat ipsa vero numquam, voluptatem excepturi ipsum reprehenderit! Porro, voluptates?
    </p>
</div>