@page
@model FinanceKnowHow.Pages.Shared._errorPartialModel
@{
}

<div class="container">
    <h1>Expected Error</h1>
    <div class="text-center">There was an error when fetching your information. Kindly refresh.</div>
</div>
